<dl>
  <% [:accreditations, :engagements, :awards].each do |kind| %>
    <dt <% if seller.changed_fields_unreviewed.include?(kind) %>class="changed"<% end %>>
      <%= t(:name, scope: [:admin, :seller_versions, :fields, kind]) %>
    </dt>
    <dd <% if seller.changed_fields_unreviewed.include?(kind) %>class="changed"<% end %>>
      <% if seller.public_send(kind).any? %>
        <ul>
          <% seller.public_send(kind).each do |item| %>
            <li><%= item %></li>
          <% end %>
        </ul>
      <% else %>
        <em>None</em>
      <% end %>
    </dd>
  <% end %>
</dl>
