<% content_for(:content) do %>
  <section class="view-buyers-applications">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </section>
<% end %>

<%= render template: 'layouts/application' %>
