body.admin {
  .column-set .left-col.collapsible-nav {
    header, nav ul li a {
      display: inline-block;
      white-space: nowrap;
      width: 100%;
      span.oi {
        width: 1rem;
        text-align: center;
      }
    }

    &, header, nav h3 {
      transition: all 0.3s ease-in-out 0s;
    }
    nav ul li a {
      transition: padding 0.3s ease-in-out 0s;
    }

    &:not(.collapsed) .short {
      display: none;
    }

    &.collapsed {
      header, nav ul li a, nav h3 {
        padding-left: 0.5rem;
        padding-right:  0.5rem;
      }
      width: 52px;
      min-width: 52px;
      .fullsize {
        display: none;
      }
    }
  }

  nav.vertical {
    height: auto;
    flex: 1;
    overflow-y: scroll;

    ul {
      padding-left: 0;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      li {
        list-style: none;

        a {
          padding: 0.6em 1em;
          display: block;
          font-size: 0.85rem;
          text-decoration: none;
          color: $white;
          font-weight: 500;

          &:hover {
            background: darken($grey-4, 5%);
          }

          .oi {
            font-weight: normal;
            width: 1.5rem;
          }
        }

        &.selected a {
          background: darken($grey-4, 10%);
        }
      }
    }

    h3 {
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.75);
      padding: 0 15px;
      margin: 1rem 0 0;
    }
  }

  footer {
    color: $white;
    font-size: 0.85rem;

    border-top: 1px solid lighten($grey-4, 10%);
    padding-top: 1rem;
    text-align: center;

    h3 {
      font-size: 1em;
    }
    ul {
      padding-left: 0;
    }
    li {
      list-style: none;
      display: inline;
      padding-right: .5rem;

      &:last-of-type {
        padding-right: 0;
      }
    }
    a {
      color: #fff;
    }
  }
}
