<p>
  Where you upload your own additional terms, they have no legal effect where:
<p>
<ul>
  <li>they conflict with, or limit, the operation of the Core&amp; Agreement or Solution Requirements</li>
  <li>they relate to or expand on areas of law that are addressed in the Core&amp; Agreement or Solution Requirements</li>
  <li>or they have the effect of increasing our scope of legal obligations to you</li>
</ul>
<p>
  As set out in the <%= link_to 'Core& Agreement', 'https://www.procurepoint.nsw.gov.au/before-you-supply/ict-contract-templates/core-agreement' %>.
</p>

<%= render partial: 'sellers/applications/forms/shared/file_upload', locals: { f: f, field: :terms } %>
