<p>This is your opportunity to share some of the things you are proud of. All questions are optional but can help your business attract potential buyers. If you're a start-up you can also list achievements from past roles or business ventures.</p>

<%=
  f.input :accreditations, as: :text_field_array,
                           wrapper: :text_field_array,
                           wrapper_html: {
                             data: {
                               module: 'expanding-list',
                               expanding_list_max: 10,
                             }
                           }
%>
<%=
  f.input :engagements, as: :text_field_array,
                        wrapper: :text_field_array,
                        wrapper_html: {
                          data: {
                            module: 'expanding-list',
                            expanding_list_max: 10,
                          }
                        }
%>
<%=
  f.input :awards,  as: :text_field_array,
                    wrapper: :text_field_array,
                    wrapper_html: {
                      data: {
                        module: 'expanding-list',
                        expanding_list_max: 10,
                      }
                    }
%>
