<p>The ProcureIT Contracting Framework is made up of: </p>

<ul>
  <li><%= link_to 'Core& Agreement', 'https://www.procurepoint.nsw.gov.au/before-you-buy/standard-contract-templates/short-form-contracts' %> (for low risk work)</li>
  <li><%= link_to 'Short Form Contract', 'https://www.procurepoint.nsw.gov.au/before-you-buy/standard-contract-templates/short-form-contracts' %> (until 31 October 2018)</li>
  <li><%= link_to 'Procure IT 3.2', 'https://www.procurepoint.nsw.gov.au/before-you-buy/standard-procurement-contract-templates/procure-it-framework-version-32' %></li>
</ul>
