<table class="events-list table table-striped">
  <thead>
    <tr>
      <th style="width: 20%;">Time</th>
      <th style="width: 20%;">User</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% events.each do |event| %>
      <tr>
        <td><%= event.created_at.localtime.to_formatted_s(:long) %></td>
        <td>
          <% if event.user %>
            <% if event.user.discarded_at?%>
              <del><%= event.user.email %></del>
            <% else %>
              <%= event.user.email if event.user%>
            <% end %>
          <% end %>
        </td>
        <td><%= event.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
